body {
	background: linear-gradient(to right, #086788, #07b5ef);
	font-family: 'Raleway', sans-serif;
}

/*h4 {
	color: #1aaddd;
	font-weight: bold;
	text-shadow: 2px 2px white;
}*/

.container {
	background-color: #d1f3ff;
	max-width: 95%;
	margin-top: 25px;
	margin-bottom: 25px;
	border-radius: 10px;
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.6), 0 15px 30px 0 rgba(0, 0, 0, 0.3);
	height: calc(100vh - 50px);
}

/* ------------ FORM INPUT STYLES --------------- */
input, select {
	box-shadow: 0 5px 5px 0 rgba(8, 103, 136, 0.6), 0 0px 5px 0 rgba(8, 103, 136, 0.3);
}

select {
	font-size: 75%;
}

/* Form validation */
.focus { border: 1px solid #d32323; }

i {
	color: #d32323;
	font-size: 130%;
	position: absolute;
}

.ion-text, .ion-price,
.ion-radius, .ion-rating {
	position: relative;
}

.i-location { top: 6px;	right: 24px; }

.i-keyword { top: 64px;	right: 24px; }

.i-price { top: 4px; right: 40px; }

.i-radius {	top: 4px; right: 40px; }

.i-rating {	top: 4px; right: 40px; }
/* ===================================================== */

#search-btn {
	height: 175px;
	cursor: pointer;
}

.img-result { 
	height: 200px; 
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.6), 0 15px 30px 0 rgba(0, 0, 0, 0.3);
}

#result {
	display:block;
	color:#1aaddd;
	font-size: 20px;
}

#map {
	height: 200px;
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.6), 0 15px 30px 0 rgba(0, 0, 0, 0.3);
}

/* Layout ordering */
.loading { order: -1; }

#img-box { order: 1; }

#map-box { order: 2;} 

#result { order: 3; }

#time-to-dest { order: 4; }

.yelp { order: 5; }

/* -------------------- MEDIA QUERUIES -------------------- */
@media screen and (max-width: 992px) {
	#search-btn { height: 175px; }
}

@media screen and (max-width: 768px) {
	#search-btn { height: 175px; }

	.container {
		height: 950px;
	}

	.loading { order: -1; }

	#img-box { order: 1; }

	#map-box { order: 3; }

	#result { order: 2; }

	#time-to-dest { order: 4; }

	.yelp { order: 5; }
}

@media screen and (max-width: 576px) {
	#search-btn { height: 175px; }
}

@media screen and (min-width: 992px) {
	.container {
		width: 960px;
	}
}
/* ========================================================== */