body {
	background-color: #0073bb;
	font-family: 'Raleway', sans-serif;
}

/* css for map*/
#map {
   height: 500px;
   width: 50%;
   margin-bottom: 15px;

  }


.focus { border: 1px solid #d32323; }

#yelp-icon {
	width: 90%;
	cursor: pointer;
}

.img-result { height: 300px; }

.btn{ margin: 20px; }

#result{
	display:block;
	color:white;
	font-size: 20px;
}

@media screen and (max-width: 575px) {
	#yelp-icon { width: 60%; }
}

@media screen and (min-width: 992px) {
	#form { padding-top: 1%; }
}

i {
	color: #d32323;
	font-size: 130%;
	position: absolute;
}

.ion-text, .ion-price,
.ion-radius, .ion-rating {
	position: relative;
}

.i-location { top: 6px;	right: 24px; }

.i-keyword { top: 64px;	right: 24px; }

.i-price { top: 4px; right: 40px; }

.i-radius {	top: 4px; right: 40px; }

.i-rating {	top: 4px; right: 40px; }