body {
	background: linear-gradient(to right, #086788, #07b5ef);
	font-family: 'Raleway', sans-serif;
}

/* css for map*/



.focus { border: 1px solid #d32323; }

#yelp-icon {
	/*width: 30%;*/
	height: 175px;
	cursor: pointer;
}

.btn{ margin: 20px; }

#result{
	display:block;
	color:#1aaddd;
	font-size: 20px;
}

.container {
	background-color: #d1f3ff;
	max-width: 95%;
	margin-top: 25px;
	margin-bottom: 25px;
	border-radius: 10px;
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.6), 0 15px 30px 0 rgba(0, 0, 0, 0.3);
	height: calc(100vh - 50px);
}

@media screen and (max-width: 992px) {
	#yelp-icon { /*width: 25%;*/ height: 175px; }
}

@media screen and (max-width: 768px) {
	#yelp-icon { /*width: 35%;*/ height: 175px; }

	.container {
		height: 950px;
	}
}

@media screen and (max-width: 576px) {
	#yelp-icon { /*width: 50%;*/ height: 175px; }
}

@media screen and (min-width: 992px) {
	.container {
		width: 960px;
	}
}

i {
	color: #d32323;
	font-size: 130%;
	position: absolute;
}

.ion-text, .ion-price,
.ion-radius, .ion-rating {
	position: relative;
}

.i-location { top: 6px;	right: 24px; }

.i-keyword { top: 64px;	right: 24px; }

.i-price { top: 4px; right: 40px; }

.i-radius {	top: 4px; right: 40px; }

.i-rating {	top: 4px; right: 40px; }

h4 {
	color: #1aaddd;
	font-weight: bold;
	text-shadow: 2px 2px white;
}

input, select {
	box-shadow: 0 5px 5px 0 rgba(8, 103, 136, 0.6), 0 0px 5px 0 rgba(8, 103, 136, 0.3);
}

select {
	font-size: 75%;
}

#map {
	height: 200px;
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.6), 0 15px 30px 0 rgba(0, 0, 0, 0.3);
}

.img-result { 
	height: 200px; 
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.6), 0 15px 30px 0 rgba(0, 0, 0, 0.3);
}